com.nablarch.archetype
org.apache.activemq
com.nablarch.example.sample.mom.EmbeddedMessagingProvider.startServer()
com.nablarch.example.sample.mom.EmbeddedMessagingProvider.stopServer()
com.nablarch.example.sample.mom.EmbeddedMessagingProvider.setConnectionFactory(javax.jms.ConnectionFactory)
com.nablarch.example.sample.mom.EmbeddedMessagingProvider.setDestinations(java.util.Map)
